<!DOCTYPE html>
  <head>
    <title>New Puppy Form</title>
  </head>
  <body>
    <h1>Please enter the puppy's information</h1>
    <form method="post" action="/">
      <p>Puppy Name: <input type="text" name="name"></p>
      <p>Puppy Breed: <input type="text" name="breed"></p>
      <p> Puppy Age: <input type="text" name="age"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
