<form method="post" action="/">
  <p>Puppy Name: <input type="text" name="name"></p>
  <p>Puppy Breed: <input type="text" name="breed"></p>
  <p> Puppy Age: <input type="text" name="age"></p>
  <input type="submit" id="Submit">
</form>