<!DOCTYPE html>
<html>
    <head>
        <title>New Puppy Page</title>
    </head>
    <body>
      <h1>Puppy Info</h1>
      <p>Puppy Name: <%= @name %></p>
      <p>Puppy Breed: <%=@breed %></p>
      <p>Puppy Age: <%= @age %></p>
    </body>
</html> 
