<!DOCTYPE html>
<html>
  <head>
    <title>New Puppy Page</title>
  </head>
  <body>
    <h1>Puppy Info</h1>
    <p>Puppy Name:<br>
      <%= @name %>
    </p>
    <p>Puppy Breed:<br>
      <%= @breed %>
    </p>
    <p>Puppy Age:<br>
      <%= @age %>
    </p>
  </body>
</html>
